- if session[:token]
  %form.form.form-vertical(action="/set_repo" method="post")
    %label User/Organization 
    %input(name="user")
    
    %label Repo
    %input(name="repo")

    %br/
    %button.btn Go
- else
  %pre= session.inspect
  %a(href="/auth/github") Authorize
