.row-fluid.form.form-horizontal
  .span4
    .pivoter
      %button.btn{ :onclick => 'app.pivotByMilestones()' } Milestone
      %input{ :text => '', :onblur => 'app.pivotByLabels(this.value.split(","))' }
      
  .span4
    .filters
      %select.state
        %option{ :value => 'open', :selected => true } Open
        %option{ :value => 'closed' } Closed
        %option{ :value => '' } Both
  .span4
    Show Empty Milestones?
    %input{ :type => 'checkbox', :onclick => 'app.toggleEmptyMilestones(this.checked)' }
    
  %br
  %br
  
.row-fluid
  .views
    %table.label-list.table.table-bordered
    %table.milestone-list.table.table-bordered

#data{ :issues => Issue.where(state: 'open').to_json, :milestones => Milestone.all.to_json }
%style
  :sass
    .comments
      display: none
:javascript
  var app = null;
  var pivoter = null;
  $(function () {
    app = new App();
  });
